<div class="border"></div>
<%= form_with model: @my_link, url: my_link_path, method: :PATCH, local: true do |f| %>
  <div class="mb-3">
    <%= f.label :"タイトル" %>
    <%= f.text_field :title, autofocus: true, placeholder: "タイトルを入力", class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :"説明" %>
    <%= f.text_field :description, autofocus: true, placeholder: "説明を入力", class: 'form-control' %>
  </div>
  
  <div class="form-check form-check-inline">
    <%= f.label :"公開" %>
    <%= f.radio_button :status, :release, checked: "checked" %>
  </div>
  
  <div class="form-check form-check-inline">
    <%= f.label :"非公開" %>
    <%= f.radio_button :status, :staging %>
  </div>

  <div class="actions">
    <%= f.submit "リンクタブ集を追加する", class: 'btn btn-primary' %>
  </div>
<% end %>
