<h1 class="center">あなたのリンク集</h1>
<% @searches.each do |link| %>
<ul>
  <li><strong><%= link_to my_link_path(link) do %><%= link.title %><% end %></strong></li>
  <li><%= link.description %></li>
  <li class="right"><div class="btn btn-outline-dark disabled"><%= I18n.t("enums.my_link.status.#{link.status}") %></div></li>
</ul>
<% end %>

<%= paginate @searches %>