  <%= form_with model: @link_group, url: link_group_path, method: :PATCH, local: true do |f| %>
    <%= f.hidden_field :my_link_id, :value => @my_link.id %>
    <div class="field">
      <%= f.label :"リンクタイトル" %>
      <%= f.text_field :url_title, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label :"ストックするURL" %>
      <%= f.text_field :url, autofocus: true %>
    </div>
  
    <div class="actions">
      <%= f.submit "リンクタブを追加する" %>
    </div>
  <% end %>