<%= form_with model: @link, url: link_groups_path, method: :POST, local: true do |f| %>
  <div class="field">
    <%= f.label :"リンクタイトル" %>
    <%= f.text_field :url_title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :"ストックするURL" %>
    <%= f.text_field :url, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "リンクタブを追加する" %>
  </div>
<% end %>


<% @links.each do |link| %>
  <ul>
    <li><%= link.url_title %></li>
    <li><% if link.url.nil? %>
          <%= link.url %>
        <% else %>
          <%= Rinku.auto_link(link.url, :all, 'target="_blank"').html_safe %>
        <% end %>
    </li>
  </ul>
<% end %>

